[user]
	name = Alexandros Peitsinis
	email = peitsinis@vermantia.com
[credential]
	helper = store
[core]
	excludesfile = /home/alex/.git-global-ignore.txt
[alias]
        ll = log --graph --decorate --pretty=oneline --abbrev-commit
        lla = log --graph --decorate --pretty=oneline --abbrev-commit --all
        c = commit --verbose
