[user]
    name = Alexandros Peitsinis
    email = alexpeitsinis@gmail.com
[credential]
    helper = store
[core]
    excludesfile = /home/alex/.git-global-ignore.txt
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lr = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    ll = log --graph --decorate --pretty=oneline --abbrev-commit
    ld = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lla = log --graph --decorate --pretty=oneline --abbrev-commit --all
    c = commit --verbose
    fl = log -u
    count = shortlog -s -n --all
    squash = rebase -i HEAD^^
    delremote = push origin --delete
