notebook tab {
  min-height: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

notebook tab button {
  min-height: 0;
  min-width: 0;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

notebook button {
  min-height: 0;
  min-width: 0;
  padding: 0px;
}

window.ssd headerbar.titlebar {
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
  padding: 2px;
  min-height: 0;
  min-width: 0;
}

VteTerminal,
TerminalScreen {
  padding: 10px 10px 10px 10px;
  -VteTerminal-inner-border: 10px 10px 10px 10px;
}
